---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Home">
  <section class="margin-48">
    <div class="container">
      <h1>粵拼 Jyutping</h1><br>
      <h2>
        <ruby>簡<rt>gaan2</rt></ruby>
        <ruby>單<rt>daan1</rt></ruby>
        <ruby>合<rt>hap6</rt></ruby>
        <ruby>理<rt>lei5</rt></ruby>
        &nbsp;&nbsp;
        <ruby>易<rt>ji6</rt></ruby>
        <ruby>學<rt>hok6</rt></ruby>
        <ruby>易<rt>ji6</rt></ruby>
        <ruby>用<rt>jung6</rt></ruby>
      </h2>
      <h2>
        <ruby>通<rt>tung1</rt></ruby>
        <ruby>行<rt>hang4</rt></ruby>
        <ruby>粵<rt>jyut6</rt></ruby>
        <ruby>語<rt>ju5</rt></ruby>
        <ruby>拼<rt>ping3</rt></ruby>
        <ruby>音<rt>jam1</rt></ruby>
        <ruby>方<rt>fong1</rt></ruby>
        <ruby>案<rt>on3</rt></ruby>
      </h2>
    </div>
  </section>
  <section class="padding-48 color-primary">
    <div class="container">
      <h2 class="margin-16 bottom">Auto Grid</h2>
    </div>
    <div class="container" data-auto-grid="3">
      <div class="text-neutral-100 bg-neutral-900 space-32 radius-large elevation-500" data-animation="fade-in">
        <h3><ruby>點<rt>dim2</rt></ruby> <ruby>解<rt>gaai2</rt></ruby> <ruby>要<rt>jiu3</rt></ruby> <ruby>學<rt>hok6</rt></ruby> <ruby>粵<rt>jyut6</rt></ruby> <ruby>拼<rt>ping3</rt></ruby>？</h3>
        <p><ruby>漢<rt>hon3</rt></ruby> <ruby>字<rt>zi6</rt></ruby> <ruby>非<rt>fei1</rt></ruby> <ruby>拼<rt>ping6</rt></ruby> <ruby>音<rt>jam1</rt></ruby> <ruby>文<rt>man4</rt></ruby> <ruby>字<rt>zi6</rt></ruby> ，<ruby>需<rt>seoi1</rt></ruby> <ruby>要<rt>jiu3</rt></ruby> <ruby>一<rt>jat1</rt></ruby> <ruby>個<rt>go3</rt></ruby> <ruby>拼<rt>ping3</rt></ruby> <ruby>音<rt>jam1</rt></ruby> <ruby>方<rt>fong1</rt></ruby> <ruby>案<rt>on3</rt></ruby> <ruby>嚟<rt>lei4</rt></ruby> <ruby>準<rt>zeon2</rt></ruby> <ruby>確<rt>kok3</rt></ruby> <ruby>表<rt>biu2</rt></ruby> <ruby>示<rt>si6</rt></ruby> <ruby>粵<rt>jyut6</rt></ruby> <ruby>語<rt>jyu5</rt></ruby> <ruby>嘅<rt>ge3</rt></ruby> <ruby>發<rt>faat3</rt></ruby> <ruby>音<rt>jam1</rt></ruby>。</p>
      </div>
      <div class="text-neutral-100 bg-neutral-900 space-32 radius-large elevation-500" data-animation="fade-in" data-animation-delay="0.25s">
        <h3><ruby>學<rt>hok6</rt></ruby> <ruby>識<rt>sik1</rt></ruby> <ruby>粵<rt>jyut6</rt></ruby> <ruby>拼<rt>ping3</rt></ruby> <ruby>可<rt>ho2</rt></ruby> <ruby>以<rt>ji5</rt></ruby> <ruby>幫<rt>bong1</rt></ruby> <ruby>助<rt>zo6</rt></ruby> <ruby>糾<rt>dau2</rt></ruby> <ruby>正<rt>zing3</rt></ruby> <ruby>懶<rt>laan5</rt></ruby> <ruby>音<rt>jam1</rt></ruby> <ruby>錯<rt>co3</rt></ruby> <ruby>音<rt>jam1</rt></ruby>，<ruby>規<rt>kwai1</rt></ruby> <ruby>範<rt>faan6</rt></ruby> <ruby>自<rt>zi6</rt></ruby> <ruby>己<rt>gei2</rt></ruby> <ruby>嘅<rt>ge3</rt></ruby> <ruby>粵<rt>jyut6</rt></ruby> <ruby>語<rt>jyu5</rt></ruby> <ruby>口<rt>hau2</rt></ruby> <ruby>音<rt>jam1</rt></ruby>。</h3>
        <p><ruby>學<rt>hok6</rt></ruby> <ruby>普<rt>pou2</rt></ruby> <ruby>通<rt>tung1</rt></ruby> <ruby>話<rt>waa2</rt></ruby> <ruby>要<rt>jiu3</rt></ruby> <ruby>學<rt>hok6</rt></ruby> <ruby>普<rt>pou2</rt></ruby> <ruby>通<rt>tung1</rt></ruby> <ruby>話<rt>waa2</rt></ruby> <ruby>拼<rt>ping3</rt></ruby> <ruby>音<rt>jam1</rt></ruby>，<ruby>學<rt>hok6</rt></ruby> <ruby>粵<rt>jyut6</rt></ruby> <ruby>語<rt>jyu5</rt></ruby> <ruby>就<rt>zau6</rt></ruby> <ruby>要<rt>jiu3</rt></ruby> <ruby>學<rt>hok6</rt></ruby> <ruby>粵<rt>jyut6</rt></ruby> <ruby>拼<rt>ping3</rt></ruby>。</p>
      </div>
      <div class="text-neutral-100 bg-neutral-900 space-32 radius-large elevation-500" data-animation="fade-in" data-animation-delay="0.5s">
        <h3><ruby>學<rt>hok6</rt></ruby> <ruby>識<rt>sik1</rt></ruby> <ruby>粵<rt>jyut6</rt></ruby> <ruby>拼<rt>ping3</rt></ruby> ，<ruby>可<rt>ho2</rt></ruby> <ruby>以<rt>ji5</rt></ruby> <ruby>用<rt>jung6</rt></ruby> <ruby>粵<rt>jyut6</rt></ruby> <ruby>拼<rt>ping3</rt></ruby> <ruby>輸<rt>syu1</rt></ruby> <ruby>入<rt>jap6</rt></ruby> <ruby>法<rt>faat3</rt></ruby> <ruby>嚟<rt>lei6</rt></ruby> <ruby>打<rt>daa2</rt></ruby> <ruby>粵<rt>jyut6</rt></ruby> <ruby>語<rt>jyu5</rt></ruby> ，<ruby>作<rt>zok1</rt></ruby> <ruby>爲<rt>wai4</rt></ruby> <ruby>最<rt>zeoi3</rt></ruby> <ruby>自<rt>zi6</rt></ruby> <ruby>然<rt>jin4</rt></ruby> <ruby>簡<rt>gaan2</rt></ruby> <ruby>單<rt>daan1</rt></ruby> <ruby>嘅<rt>ge3</rt></ruby> <ruby>打<rt>daa2</rt></ruby> <ruby>字<rt>zi6</rt></ruby> <ruby>方<rt>fong1</rt></ruby> <ruby>式<rt>sik1</rt></ruby>。</h3>
        <p></p>
      </div>
    </div>
    <div class="container margin-16 top">
      <a href="#" class="button">Tab to me first!</a>&nbsp;
      <a href="#" class="button color-secondary">Then it's my turn</a>
    </div>
  </section>
  <section class="margin-64">
    <div class="container">
      <div class="grid">
        <div class="small-12">
          <h2>12 Column Grid</h2>
        </div>
        <div class="small-12 medium-3 space-content">
          <h3>Sidebar</h3>
          <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
          </ul>
        </div>
        <div class="small-12 medium-8 offset-medium-4 space-content">
          <h3>Main</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi mollitia alias sunt accusamus reiciendis fuga delectus, repellendus molestiae dolore illo iusto eligendi eaque qui hic facilis assumenda! Velit, minus, nobis. <strong><a href="#">And lastly tab to me</a></strong>.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi mollitia alias sunt accusamus reiciendis fuga delectus, repellendus molestiae dolore illo iusto eligendi eaque qui hic facilis assumenda! Velit, minus, nobis.</p>
        </div>
      </div>
    </div>
  </section>
</DefaultLayout>
